/*
全局公共样式
类名修改等
*/
* {
    /*全局字体*/
  --vp-font-family-base: 'PingFang SC', Arial,sans-serif; /* normal text font */
  --vp-font-family-mono: 'PingFang SC', Arial,sans-serif;/* code font */
}

.vp-c-home-button {
    margin: 2rem 0;
    padding: 10px 20px;
    background-color: transparent;
    color: #0066ff;
    border: solid 2px #0066ff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 添加过渡效果实现点击变化效果 */
}

.vp-c-home-button:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景色变化 */
    color: #ffffff;
}

.vp-c-home-button:active {
    background-color: #003c80; /* 按钮按下时的背景色变化，模拟点击效果 */
    color: #ffffff;
}
/*.home-image{
    width: 1440px;
    height: 100% auto;
    border-radius: 8px;
    background-image: url('/images/home-image.jpg');
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}*/
.home-image {
  width: 100%;
  height: 100%;
  background-image: url('/images/home-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
